@font-face {
    font-family: "Outfit Light";
    src: url("../fonts/Outfit-Light.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit Black";
    src: url("../fonts/Outfit-Black.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "ITC Galliard Roman";
    src: url("../fonts/ITC Galliard Roman.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ITC Galliard Bold";
    src: url("../fonts/ITC Galliard Bold.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Henderson Light";
    src: url("../fonts/HendersonSansLight.otf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Henderson Regular";
    src: url("../fonts/HendersonSansRegular.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "ITC Galliard Roman";
    line-height: 1.1;
}

.span {
    grid-column-start: 1;
    grid-column-end: 5;
}

body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 5vw;
    row-gap: 25px;
    column-gap: 20px;
    /* <-- creates the small gap between col 5 and 6 */
}

/* HEADER stays full width */
header {
    grid-column: 1 / -1;
    display: flex;
    padding-top: 25px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: baseline;
}

.topBarLink {
    padding: 0px 10px 0px 10px;

}

/* PROJECT CONTAINER becomes a real grid wrapper */
.project-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 50px;
}

/* EACH PROJECT TAKES HALF THE GRID (5 columns) */
.project-item {
    grid-column: span 1;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
}

/* IMAGE */
.cover-image-container {
    grid-column: 1 / -1;
}

/* TEXT BLOCK UNDER IMAGE */
.project {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    padding: 2vw 0 2vw 0;
}

/* IMAGE styling */
.cover-image {
    width: 100%;
    height: auto;
    display: block;
}

/* TYPOGRAPHY */
.title {
    align-items: start;
}

.desc {
    grid-column: 2 / span 3;
    align-items: start;
    margin-bottom: 0;
    color: gray;
}

.name {
    font-family: "ITC Galliard Bold";
    margin: 0;
    padding: 0;
}