@font-face {
    font-family: "Outfit Light";
    src: url("../fonts/Outfit-Light.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit Black";
    src: url("../fonts/Outfit-Black.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "ITC Galliard Roman";
    src: url("../fonts/ITC Galliard Roman.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ITC Galliard Bold";
    src: url("../fonts/ITC Galliard Bold.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Henderson Light";
    src: url("../fonts/HendersonSansLight.otf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Henderson Regular";
    src: url("../fonts/HendersonSansRegular.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "ITC Galliard Roman";
    line-height: 1.1;
}

body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 5vw;
}

header {
    grid-column: 1 / span 10;
    display: flex;
    padding-top: 25px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: baseline;
}

a {
    text-decoration: underline;
    text-decoration-style: dotted;
}

p.double {
    border-style: double;
    border-width: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0px 0px 0px 0px;
}

.project-container {
    grid-column: 1 / span 10;
    display: contents;
}

.project-item {
    display: contents;
    padding-bottom: 1%;
}

.cover-image-container {
    grid-column: 1 / span 5;
}

.project {
    grid-column: 6 / span 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
}

.cover-image {
    width: 100%;
    height: auto;
    display: block;
}

.title {
    padding: 0px 0px 0px 25px;
}

.desc {
    padding: 0px 0px 0px 25px;
    grid-column: 2 / span 3;
    margin-bottom: 0;
}

.name {
    font-family: "ITC Galliard Bold";
    margin-bottom: 0;
    padding-bottom: 0;
}

.left {
    margin-left: auto;
}

.span {
    grid-column: 1 / span 5;
}

.topBarLink {
    padding: 0px 5px 0px 5px;
}